{% macro avatar(person, size='sm') -%}
{%- if person.avatar_path -%}
<img class="avatar avatar-{{ size }}" src="{{ url_for('uploaded_file', filename=person.avatar_path) }}" alt="">
{%- else -%}
<span class="avatar avatar-{{ size }} avatar-initials" aria-hidden="true">{{ person.name | initials }}</span>
{%- endif -%}
{%- endmacro %}

{% macro provider_buttons(providers, next=None, verb='continue') -%}
{%- if providers -%}
<div class="sso">
    {% for key, label in providers.items() %}
    <a class="btn sso-btn" href="{{ url_for('oauth_start', provider=key, next=next) }}">
        {%- if key == 'google' -%}
        <svg viewBox="0 0 48 48" aria-hidden="true"><path fill="#EA4335" d="M24 9.5c3.5 0 6.6 1.2 9.1 3.6l6.8-6.8C35.8 2.4 30.3 0 24 0 14.6 0 6.6 5.4 2.6 13.3l7.9 6.1C12.4 13.6 17.7 9.5 24 9.5z"/><path fill="#4285F4" d="M46.1 24.6c0-1.6-.1-3.1-.4-4.6H24v9h12.4c-.5 2.9-2.2 5.3-4.6 6.9l7.3 5.7c4.3-4 7-9.9 7-17z"/><path fill="#FBBC05" d="M10.5 28.6c-.5-1.4-.8-3-.8-4.6s.3-3.2.8-4.6l-7.9-6.1C.9 16.6 0 20.2 0 24s.9 7.4 2.6 10.7l7.9-6.1z"/><path fill="#34A853" d="M24 48c6.5 0 11.9-2.1 15.9-5.8l-7.3-5.7c-2 1.4-4.7 2.3-8.6 2.3-6.3 0-11.6-4.1-13.5-9.8l-7.9 6.1C6.6 42.6 14.6 48 24 48z"/></svg>
        {%- else -%}
        <svg viewBox="0 0 23 23" aria-hidden="true"><path fill="#F35325" d="M1 1h10v10H1z"/><path fill="#81BC06" d="M12 1h10v10H12z"/><path fill="#05A6F0" d="M1 12h10v10H1z"/><path fill="#FFBA08" d="M12 12h10v10H12z"/></svg>
        {%- endif -%}
        <span>{{ verb }} with {{ label }}</span>
    </a>
    {% endfor %}
    <div class="sso-divider"><span>or use email</span></div>
</div>
{%- endif -%}
{%- endmacro %}
